@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Product Management System</h1>
    <p>You can navigate to the category section from the navigation bar.</p>
</div>
